{{#partial "content"}}
    <div id="heroform1" class="card">
        <h1 class="text-primary">Success!</h1>

        <p> Your Squad has been created successfully.|| <em><a href="/">Go back</a></em></p>
    </div>
{{/partial}}

{{> layout.hbs}}