{{#partial "content"}}
    <div id="heroform1" class="card">
        <h1 class="text-success">Success!</h1>
        <p>Your Hero has been created successfully. || <em>  <a href="/">Go Back</a></em></p>
    </div>

{{/partial}}

{{> layout.hbs}}