{{#partial "content"}}
    <br>
    <div id="heroform1" class="card">
        <br>
        <h4 class="text-primary">Create your Squad</h4><br>
        <form action="/" method="post" name="squadForm">
            <input class="form-control mb0" type="text" placeholder="Enter Squad's Name..." name="squadName" autocomplete="off" required>
            <br>

            <div class="form-group">
                <input type="number" class="form-control" name="maxSize" id="age" placeholder="Enter Squad Size...." required>
            </div>
            <br>
            <select class="form-control select2 mt15 mb0" data-placeholder="Squad's Cause" name="squadCause">
                <option label="- Squad's Cause / Motive -"></option>
                <option value="Track Hacker's">Track Hacker's</option>
                <option value="Prevent Alien Invasion">Prevent Alien Invasion</option>
                <option value="Fight Sexism">Fight Sexism</option>
                <option value="Black Lives Matter">Black Lives Matter</option>
                <option value="Suicide">Suicide</option>
                <option value="Democracy">Democracy</option>
                <option value="Drive Fast">Drive Fast</option>
                <option value="Fight Anti-Heroes">Fight Anti-Heroes</option>
                <option value="Live Fast, Die Young">Live Fast, Die Young</option>
            </select>
            <br><button type="submit" class="btn btn-primary">Create Squad</button>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}