{{#partial "content"}}
    <div class="panel-footer">
        <form action="/newSquad" method="post" name="squadForm">
            <input class="form-control mb0" type="text" placeholder="Enter Squad's Name..." name="squadName" autocomplete="off">
            <br><p class="label">Squad's Max Size:</p>
            <input class="form-control mb0" type="number" placeholder="Max Size..." name="maxSize" type="text" />
            <select class="form-control select2 mt15 mb0" data-placeholder="Squad's Cause" name="squad_cause">
                <option label="- Squad's Cause / Motive -"></option>
                <option value="Track Hacker's">Track Hacker's</option>
                <option value="Prevent Alien Invasion">Prevent Alien Invasion</option>
                <option value="Fight Sexism">Fight Sexism</option>
                <option value="Black Lives Matter">Black Lives Matter</option>
                <option value="Suicide">Suicide</option>
                <option value="Democracy">Democracy</option>
                <option value="Drive Fast">Drive Fast</option>
                <option value="Fight Anti-Heroes">Fight Anti-Heroes</option>
                <option value="Live Fast, Die Young">Live Fast, Die Young</option>
            </select>
            <br><button type="submit" class="btn btn-success btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Create Squad</button>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}